django-cors-headers>=3.7
healpy>=1.14
psycopg2
django-webpack-loader==0.6.0
django-postgres-extra==2.0.8
djangorestframework
whitenoise~=5.2
antares-client==1.1
fink-client~=2.0
hop-client==0.5.0
avro==1.10.2
fastavro
kafka-python
seaborn
scikit-learn
tables

