{% extends 'tom_common/base.html' %}
{% load static %}
{% block title %}
ELAsTiCC2 Admin Summary
{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'elasticc/elasticc.css' %}">
{% endblock %}
{% block content %}
<h2>ELAsTiCC2 Admin Summary</h2>

<h3>Objects, Sources, and Alerts</h3>

<table class="elasticc_table1">
  <tr><th>Table</th><th># Rows</th><th>N. Streamed</th><th>N. Not Streamed</th></tr>
  {% for row in tabcounts %}
  <tr><td>{{ row.name }}</td><td> {{row.count}} </td>
    {% if row.name == "PPDBAlert" %}
    <td>{{ row.sent }}</td><td>{{ row.unsent }}</td>
    {% endif %}
  </tr>
  {% endfor %}
</table>

<h3>Object truth: numbers of objects</h3>

<table class="elasticc_table1">
  <tr><th>classId</th><th>gentype</th><th>description</th><th>count</th></tr>
  {% for row in objtypecounts %}
  <tr><td>{{ row.2 }}</td><td>{{ row.1 }}</td><td>{{ row.3 }}</td><td>{{ row.0 }}</td></tr>
  {% endfor %}
</table>
{% endblock %}
