{% extends 'tom_common/base.html' %}
{% load static %}
{% block title %}
ELAsTiCC2
{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'elasticc/elasticc.css' %}">
{% endblock %}
{% block content %}
<h2>The ELAsTiCC2 Campaign</h2>

<p>A 3 years of LSST DIA alerts, a
  follow on to the <a href="/elasticc">first ELAsTiCC campaign</a>.
  The simulated alerts were sent in Nov-Dec 2023.  Four brokers ingested
  those alerts and provided classifications back here.  The ELAsTiCC2
  data set includes:
<ul>
  <li> 4,119,322 diaObject (individual transients or variables)</li>
  <li> 62,472,882 [CHECK THIS] diaSource (detections, for which an alert was sent out)</li>
  <li> 987,156,194 [CHECK THIS] diaForcedSource (measurements; includes everything in diaSource) </li>
  <li> 377,345,184 classification messages from 20 different broker
       classifiers (most brokers had more than one classifier). </li>
</ul>

<p>For general information,
  see <a href="https://portal.nersc.gov/cfs/lsst/DESC_TD_PUBLIC/ELASTICC/">The
    DESC ELAsTiCC Challenge</a>.</p>

<p>For information about querying the results of the ELAsTiCC2 dataset
  and calculating metrics, see https://github.com/LSSTDESC/elasticc_metrics</p>

<p>Streaming and Database Statistics:</p>

<ul>
  <li class="exbelow"><a href="/elasticc2/alertstreamhists">Graphs of hourly streaming rate of
      original ELAsTiCC alerts sent to the ZADS broker</a> (updated
      daily)</li>
  <li class="exbelow"><a href="/elasticc2/brokertimedelays">Broker Time
      Delays</a> — histogram of time delays between alerts being isused
      and ingesting broker classifications (currently updated manually)</li>
  <li class="exbelow"><a href="/elasticc2/brokercompleteness">Broker
      Completeness Vs. Time</a> — fraction of alerts sent for which we
      have received broker classifications, divided by classifier and
      time interval.</li>

<!--
  <li class="exbelow"><a href="/elasticc2/brokerstreamgraphs">Graphs of rate of messages received
      from each broker</a> (updated daily)</li>
  <li class="exbelow"><a href="/elasticc2/brokercompletenessgraphs">Classifier
      completeness</a> — fraction of alerts sent each week for which each
    broker/classifier has sent at least one classification (updated
    daily)</li>
  <li class="exbelow"><a href="/elasticc2/brokercompletenessvsndets">Classifier
      completeness vs. number of detections</a> — fraction of alerts
      sent for which each broker/classifier has sent at least one
      classification, as a function of the number of detections of that
      object included in the alert.  (Updated manually.)</li>
  <li class="exbelow"><a href="/elasticc2/summary">A summary of alerts and broker
      classifications</a> (Slow!)</li>
  -->
  <li class="exbelow"><a href="/elasticc2/classifiers">Known classifiers</a></li>
  <li class="exbelow"><a href="/elasticc2/adminsummary">An admin summary</a> (Slow)</li>
</ul>

<p>Metrics:</p>
<ul>
  <li class="exbelow"><a href="/elasticc2/confmatrixlatest">Confidence
      matrix of most recent predicted class vs. true class for each broker/classifier.</li>
  
<!--
  <li class="exbelow"><a href="/elasticc2/probvsclassandt">Each
      broker/classifier's average probability as a function of class ID
      and time relative to peak</a>, broken out by true object
      type.  (Averaged over all objects of that true type.)  (Takes
      several seconds to load.)</li>
-->
  
</ul>

{% endblock %}
