table.elasticc_table1 { border: 2px solid black; }
table.elasticc_table1 tr { padding-top: 2px;
                           padding-bottom: 2px;
                           border-top: 2px solid black;
                           border-bottom: 2px solid black;
                         }
table.elasticc_table1 td, table.elasticc_table1 th { padding-left: 1ex;
                                                     padding-right: 1ex;
                                                   }

li.exbelow { border-bottom: 1ex }

.strike { text-decoration: line-through }

.sup { vertical-align: super; font-size: 66% }
.sub { vertical-align: sub; font-size: 66% }

div.heavyindent { border: 4px inset #808080; padding: 4px }
div.heavyindent img { width: 100% }

