[submodule "tom_base"]
	path = tom_desc/extern/tom_base
	url = https://github.com/LSSTDESC/tom_base.git
	branch = tom_desc_extern_tracking_branch
[submodule "tom_antares"]
	path = tom_desc/extern/tom_antares
	url = https://github.com/TOMToolkit/tom_antares.git
[submodule "tom_fink"]
	path = tom_desc/extern/tom_fink
	url = https://github.com/TOMToolkit/tom_fink.git
[submodule "tom_pittgoogle"]
	path = tom_desc/extern/tom_pittgoogle
	url = https://github.com/mwvgroup/tom_pittgoogle.git
[submodule "tom_alerts_dash"]
	path = tom_desc/extern/tom_alerts_dash
	url = https://github.com/TOMToolkit/tom_alerts_dash.git
[submodule "tom_desc/extern/tom_scimma"]
	path = tom_desc/extern/tom_scimma
	url = https://github.com/TOMToolkit/tom_scimma.git
