{% extends 'tom_common/base.html' %}
{% load static targets_extras observation_extras dataproduct_extras tom_common_extras %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <h2 class="text-center">A TOM based alert portal prototype for DESC</h2>
    <p class="text-center"><img src="https://lsstdesc.org/assets/img/logo.png" width="400" height="80" class="img-fluid mx-auto"></p>
    <p class="text-center">Powered by <img src="{% static 'tom_common/img/logo-color.png' %}" width="200" height="40" class="img-fluid mx-auto"></p>	

    <p>We have amibtions for this TOM.</p>

    <p>Currently, it is hosting the database for
      the <a href="/elasticc">ELAsTiCC Challenge</a>.</p>
    
    <h3>Other Resources</h3>
    <ul>
      <li>The official <a href="https://www.djangoproject.com/">Django
          documentation</a>.</li>
      <li>The official <a href="http://www.astropy.org/">Astropy documentation</a>.</li>
      <li>The <a href="https://tom-toolkit.readthedocs.io/en/stable/" title="TOM Toolkit home page">TOM
          Toolkit homepage</a>.</li>
      </li>
    </ul>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        Latest Comments
      </div>
      {% recent_comments %}
    </div>
    <br/>
    <div class="card">
      <div class="card-header">
        Latest Targets
      </div>
      {% recent_targets %}
  </div>
</div>

{% endblock %}
