{% extends 'tom_common/base.html' %}
{% load static %}
{% block title %}
ELAsTiCC
{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'elasticc/elasticc.css' %}">
{% endblock %}
{% block content %}
<h2>The ELAsTiCC Challenge</h2>

<p>For general information,
  see <a href="https://portal.nersc.gov/cfs/lsst/DESC_TD_PUBLIC/ELASTICC/">The
    DESC ELAsTiCC Challenge</a>.</p>

<p>Streaming and Database Statistics:</p>

<ul>
  <li class="exbelow"><a href="/elasticc/alertstreamhists">Graphs of hourly streaming rate of
      original ELAsTiCC alerts sent to the ZADS broker</a> (updated
      daily)</li>
  <li class="exbelow"><a href="/elasticc/brokerstreamgraphs">Graphs of rate of messages received
      from each broker</a> (updated <span class="strike">daily</span>
      manually (currently))</li>
  <li class="exbelow"><a href="/elasticc/brokercompletenessgraphs">Classifier
      completeness</a> (fraction of alerts sent each week for which each
    broker/classifier has sent at least one classification).</li>
  <li class="exbelow"><a href="/elasticc/summary">A summary of alerts and broker
      classifications</a> (Slow!)</li>
  <li class="exbelow"><a href="/elasticc/adminsummary">An admin
      summary</a> (Slow)</li>
</ul>

<p>Metrics:</p>
<ul>
  <li class="exbelow"><a href="/elasticc/latestconfmatrix">Confusion matrices for each
      broker/classifier, using latest classification for each object</a> (updated
      daily)</li>
</uL>

{% endblock %}
