{% extends 'tom_common/base.html' %}
{% load static %}
{% block title %}
ELAsTiCC
{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'elasticc/elasticc.css' %}">
{% endblock %}
{% block content %}
<h2>The ELAsTiCC Challenge</h2>

<p>For general information,
  see <a href="https://portal.nersc.gov/cfs/lsst/DESC_TD_PUBLIC/ELASTICC/">The
    DESC ELAsTiCC Challenge</a>.</p>

<p>Streaming and Database Statistics:</p>

<ul>
  <li class="exbelow"><a href="/elasticc/alertstreamhists">Graphs of hourly streaming rate of
      original ELAsTiCC alerts sent to the ZADS broker (updated
      daily)</a></li>
  <li class="exbelow"><a href="/elasticc/brokerstreamgraphs">Graphs of rate of messages received
      from each broker (updated <span class="strike">daily</span>
      manually (currently))</a></li>
  <li class="exbelow"><a href="/elasticc/summary">A summary of alerts and broker
      classifications (Slow!)</a></li>
  <li class="exbelow"><a href="/elasticc/adminsummary">An admin summary (Slow)</a></li>
</ul>

<p>Metrics:</p>
<ul>
  <li class="exbelow"><a href="/elasticc/latestconfmatrix">Confusion matrices for each
      broker, using latest classification for each object (Updated
      Daily)</a></li>
</uL>

{% endblock %}
